# dirs
# data heavy folders structure
data/
Output/
.snakemake/
.wBuild*

# python package temp files
.ipynb_checkpoints*
__pycache__*
*.egg-info*
.eggs*
dist/*

# typical latex tmp files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out

# snakemake build
auto

# documentation build
docs/build/*

# IDE project files
.idea/
*.project
readme.html
*.Rproj
.Rproj.user
.Rhistory
.RData

# other
.*.swp
*~
slurm-*.out
~$
*_cache
*_files
*.cache
tmp/
