# dirs
# data heavy folders structure
data/
Output/
.snakemake/
.wBuild*

# typical latex tmp files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out

# snakemake build
auto

# IDE project files
*.project
readme.html
.Rproj.user
.Rhistory

# other
*~
.ipynb_
*.ipynb_*
slurm-*.out
__pycache__
~$
_cache
*_cache
*_files
*.cache
tmp/
resources/missing_exomes.txt

