[submodule "drop/modules/aberrant-expression-pipeline"]
	path = drop/modules/aberrant-expression-pipeline
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:gagneurlab/aberrant-expression-pipeline.git
[submodule "drop/modules/aberrant-splicing-pipeline"]
	path = drop/modules/aberrant-splicing-pipeline
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:gagneurlab/aberrant-splicing-pipeline.git
[submodule "drop/modules/mae-pipeline"]
	path = drop/modules/mae-pipeline
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:gagneurlab/mae-pipeline.git
