[submodule "submodules/aberrant-expression-pipeline"]
	path = submodules/aberrant-expression-pipeline
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:gagneurlab/aberrant-expression-pipeline.git
[submodule "submodules/aberrant-splicing-pipeline"]
	path = submodules/aberrant-splicing-pipeline
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:gagneurlab/aberrant-splicing-pipeline.git
[submodule "submodules/mae-pipeline"]
	path = submodules/mae-pipeline
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:gagneurlab/mae-pipeline.git
[submodule "config_parser"]
	path = config_parser
	url = git@i12g-gagneurweb.informatik.tu-muenchen.de:mumichae/config_parser.git
