projectTitle: "DROP: Detection of RNA Outliers Pipeline"
root:             # root directory of all intermediate output
htmlOutputPath:   # path for HTML rendered reports
indexWithFolderName: true # whether the root base name should be part of the index name

hpoFile: null  # if null, downloads it from webserver
sampleAnnotation: # path to sample annotation (see documenation on how to create it)

root: Output
sampleAnnotation: Data/sample_annotation.tsv
geneAnnotation:
    v29: Data/gencode_annotation_trunc.gtf
genomeAssembly: hg19
genome: Data/chr21.fa

hpoFile: null
random_seed: true  # just for demo data, remove for proper analysis

exportCounts:
    # specify which gene annotations to include and which
    # groups to exclude when exporting counts
    geneAnnotations:
      - v29
    excludeGroups
      - group1
genome: # path to genome sequence in fasta format.
    # You can define multiple reference genomes in yaml format, ncbi: path_to_ncbi, ucsc: path_to_ucsc
    # the keywords that define the path should be in the GENOME column of the SA table

aberrantExpression:
    run: true
    groups:
        - group1
        - group2
    fpkmCutoff: 1
    implementation: autoencoder
    padjCutoff: 1
    zScoreCutoff: 0
    maxTestedDimensionProportion: 3
    dassie:
        tssWindow: 500
        pasWindow: 1000

aberrantSplicing:
    run: true
    groups:
      - fraser
    recount: true
    longRead: false
    keepNonStandardChrs: true
    filter: false
    minExpressionInOneSample: 20
    minDeltaPsi: 0.05
    implementation: PCA
    padjCutoff: 1
    zScoreCutoff: 0
    deltaPsiCutoff : 0.05
    maxTestedDimensionProportion: 6

mae:
    run: true
    groups:
        - group1
        - group2
        - group3
    gatkIgnoreHeaderCheck: true
    padjCutoff: .05
    allelicRatioCutoff: 0.8
    addAF: false
    maxAF: .001
    maxVarFreqCohort: .04
    # VCF-BAM matching
    qcVcf: Data/qc_vcf_1000G.vcf.gz
    qcGroups:
      - mae

rnaVariantCalling:
  groups:
  - batch_0
  knownVCFs:
  - Data/high_confidence_snps_test.vcf.gz
  - Data/high_confidence_indels_test.vcf.gz
  - Data/dbSNP_chr21_test.vcf.gz
  repeat_mask: Data/repeat_mask_chr21_test.bed
  hcArgs: 
  minAlt: 10


tools:
    gatkCmd: gatk
    bcftoolsCmd: bcftools
    samtoolsCmd: samtools
