projectTitle: "DROP: Detection of RNA Outliers Pipeline"
root:             # root directory of all intermediate output
htmlOutputPath:   # path for HTML rendered reports
indexWithFolderName: true # whether the root base name should be part of the index name

hpoFile: null  # if null, downloads it from webserver
sampleAnnotation: # path to sample annotation (see documenation on how to create it)

geneAnnotation:
    # multiple annotations with custom names are possible
    # <annotation_name> : <path to gencode v29 annotation>
    v29:  /path/to/gencode29.gtf.gz # example

genomeAssembly: hg19  # either hg19/hs37d5 or hg38/GRCh38
exportCounts:
    # specify which gene annotations to include and which
    # groups to exclude when exporting counts
    geneAnnotations:
      - v29
    excludeGroups:
      - group1
genome: # path to genome sequence in fasta format.
    # You can define multiple reference genomes in yaml format, ncbi: path_to_ncbi, ucsc: path_to_ucsc
    # the keywords that define the path should be in the GENOME column of the SA table

aberrantExpression:
    run: true
    groups:
        - group1
        - group2
    fpkmCutoff: 1
    implementation: autoencoder
    padjCutoff: 0.05
    zScoreCutoff: 0
    maxTestedDimensionProportion: 3

aberrantSplicing:
    run: true
    groups:
        - group1
    recount: false
    longRead: false
    keepNonStandardChrs: true
    filter: true
    minExpressionInOneSample: 20
    minDeltaPsi: 0.05
    implementation: PCA
    padjCutoff: 0.05
    zScoreCutoff: 0
    deltaPsiCutoff: 0.3
    maxTestedDimensionProportion: 6

mae:
    run: true
    groups:
        - group1
        - group2
        - group3
    gatkIgnoreHeaderCheck: true
    padjCutoff: .05
    allelicRatioCutoff: 0.8
    addAF: false
    maxAF: .001
    maxVarFreqCohort: .05
    # VCF-BAM matching
    qcVcf:        # path to common variant file e.g. qc_vcf_1000G.vcf.gz
    qcGroups: mae

tools:
    gatkCmd: gatk
    bcftoolsCmd: bcftools
    samtoolsCmd: samtools
