package	min_version	max_version	ref
devtools
gagneurlab/OUTRIDER	1.16.2	1.16.2	1.16.2
gagneurlab/FRASER	1.99.0	1.99.0	1.99.0
gagneurlab/tMAE	1.0.4	1.0.4	1.0.4
VariantAnnotation		
rmarkdown		
knitr		
ggplot2		
ggthemes		
cowplot		
data.table		
dplyr		
tidyr		
magrittr		
