package	version	ref
devtools
gagneurlab/OUTRIDER	1.26.2	1.26.2
gagneurlab/FRASER	2.4.5	HEAD
gagneurlab/tMAE	1.0.5	1.0.5
VariantAnnotation		
rmarkdown		
knitr		
ggplot2		
ggthemes		
cowplot		
data.table		
dplyr		
tidyr		
magrittr		
DT		
