package	version	ref
devtools
gagneurlab/OUTRIDER	1.21.1	OHT_clean
gagneurlab/FRASER	2.00.1	OHT
gagneurlab/tMAE	1.0.4	1.0.4
VariantAnnotation		
rmarkdown		
knitr		
ggplot2		
ggthemes		
cowplot		
data.table		
dplyr		
tidyr		
magrittr		
