projectTitle: Detection of RNA Outlier Pipeline
htmlOutputPath: Output/html
indexWithFolderName: true
root: Output
sampleAnnotation: Data/sample_annotation.tsv
geneAnnotation:
  v29: Data/gencode_annotation_trunc.gtf
genomeAssembly: hg19
genome: 
  ncbi: Data/chr21_ncbi.fa
  ucsc: Data/chr21.fa
hpoFile: null
random_seed: true
exportCounts:
  geneAnnotations:
  - v29
  excludeGroups:
  - mae
  - import_exp
aberrantExpression:
  run: true
  groups:
  - outrider
  - import_exp
  fpkmCutoff: 1
  implementation: autoencoder
  padjCutoff: 1
  zScoreCutoff: 0
  maxTestedDimensionProportion: 3
  dassie:
    tssWindow: 500
    pasWindow: 1000
aberrantSplicing:
  run: true
  groups:
  - fraser
  recount: true
  longRead: false
  keepNonStandardChrs: true
  filter: false
  minExpressionInOneSample: 20
  minDeltaPsi: 0.05
  implementation: PCA
  padjCutoff: 1
  zScoreCutoff: 0
  deltaPsiCutoff: 0.05
  maxTestedDimensionProportion: 6
mae:
  run: true
  groups:
  - mae
  gatkIgnoreHeaderCheck: true
  padjCutoff: 0.05
  allelicRatioCutoff: 0.8
  addAF: false
  maxAF: 0.001
  maxVarFreqCohort: 1
  qcVcf: Data/qc_vcf_1000G.vcf.gz
  qcGroups:
  - mae
rnaVariantCalling:
  run: true
  groups:
  - batch_0
  knownVCFs:
  - Data/high_confidence_snps_test.vcf.gz
  - Data/high_confidence_indels_test.vcf.gz
  - Data/dbSNP_chr21_test.vcf.gz
  repeat_mask: Data/repeat_mask_chr21_test.bed
  hcArgs: null
  minAlt: 10
tools:
  gatkCmd: gatk
  bcftoolsCmd: bcftools
  samtoolsCmd: samtools
