projectTitle: Detection of RNA Outlier Pipeline
htmlOutputPath: Output/html
indexWithFolderName: true

root: Output
sampleAnnotation: Data/sample_annotation.tsv
geneAnnotation:
    v29: Data/gencode_annotation_trunc.gtf
genomeAssembly: hg19
genome: Data/chr21.fa
hpoFile: null
random_seed: true  # use this to fully gain reproducible data in debug mode

exportCounts:
  geneAnnotations:
    - v29
  excludeGroups:
    - mae
    - outrider_external
    - fraser_external

aberrantExpression:
    run: true
    groups:
      - outrider
      - outrider_external
    fpkmCutoff: 1
    implementation: autoencoder
    padjCutoff: 1
    zScoreCutoff: 0
    maxTestedDimensionProportion: 3
    dassie:
        tssWindow: 500
        pasWindow: 1000

aberrantSplicing:
    run: true
    groups:
      - fraser
      - fraser_external
    recount: true
    longRead: false
    keepNonStandardChrs: true
    filter: false
    minExpressionInOneSample: 20
    minDeltaPsi: 0.05
    implementation: PCA
    padjCutoff: 1
    zScoreCutoff: 0
    deltaPsiCutoff : 0.05
    maxTestedDimensionProportion: 6

mae:
    run: true
    groups:
      - mae
    gatkIgnoreHeaderCheck: true
    padjCutoff: .5
    allelicRatioCutoff: 0.7
    addAF: false
    maxAF: .001
    maxVarFreqCohort: 1
    # VCF-BAM matching
    qcVcf: Data/qc_vcf_1000G.vcf.gz
    qcGroups:
      - mae

tools:
    gatkCmd: gatk
    bcftoolsCmd: bcftools
    samtoolsCmd: samtools
